extends layout

block content
  <body style="background-color:lightblue;">
  h1= title
  <h2> The following API's are available, Choose one to get more info.</h2>

  <ul>
  <li> https://#{hostname}/api/timestamp/</li>
  <li> https://#{hostname}/api/whoami/</li>
  <li> https://#{hostname}/api/urlshortner/</li>
  <li> https://#{hostname}/api/imagesearch/</li>
    <li> https://#{hostname}/api/filemetadata/</li>
  </ul>